*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.emp-main-container{
    width: 100%;
    height: 100vh;
    border: 2px solid red;

}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(19, 110, 146);
}
.Emp-title p{
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.add-emp p a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;

}
.add-emp p a:hover{
    color:red;
}


.emp-info-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  

}
.emp-info-container table{
    width: 90%;
    /* height: 100%; */
    margin-top: 10px;
      background: linear-gradient(rgba(112, 119, 226, 0.2),rgba(38, 51, 230, 0.3));
      color:black;
      border: 1;
}
table tr{
    text-align: center;
    
    
}
table th{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(1, 37, 37);
}
table td{
    text-align: center;
}

table tr td button{
    width: 100px;
    height: 25px;
    background-color: red;
    /* text-decoration: none; */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
table tr td button a{
    text-decoration: none;
    color: #fff;
    font-size: large;
}
.update{
    background-color: blue;
}