@charset "UTF-8";
body
{
	background: #e2e2e2!important;
}
.bg-primary
{
	background: #009688 !important;
}
.navbar a
{
	color: #fff !important;
	
}
.banner
{
	width: 100%;
	height: 93vh;
	color: #fff;
	background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("../images/girlsimages.jpg");
	background-position: center;
	background-size: cover;

}
.home-data h1
{
	text-align: center;
	font-weight: bold;
	
}
.home-data p
{
	text-align: center;
}
.getbtn
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.getbtn button
{
	width: 150px;
	color: #fff;
}
.my-card
{
	padding: 20px;
	background: #ffffff;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}