<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
	<div class="home-data">
		<h1>Smart Contact Manager</h1>
		<p>Start Collecting your contacts in smarter way.we provides very efficeit ways and smater way of handing contacts</p>
		<div class="getbtn"><button class="btn bg-primary btn-lg">Get Start</button></div>
	</div>
	
</section>
</body>
</html>