<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pages</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- header section -->
    <div class="main-conatiner">
        <div class="header-container">
            <div class="upper-header-container">
                <div class="left-mail-section">
                    <p>Email : vsvsgg594@gmail.com</p>
                </div>
                <div class="right-icon-section">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-search"></i>

                </div>
            </div>
            <div class="lower-header-conatiner">
                <div class="left-lower-header-conatiner">
                   <p><i class="fa fa-envira" style="font-size:40px;color:rgb(32, 151, 42)"></i>XMP ROI</p>
                </div>
                <div class="right-lower-menu-section">
                    <a th:href="@{/}">home</a>
                    <a href="#">About us</a>
                    <a href="#">Service</a>
                    <a href="#">Careers</a>
                    <a href="#">Contact us</a>
                </div>
            </div>
        </div>
        <!-- end of headersection -->
        <!-- home section -->
        <div class="home-section-container">
            <div class="home-section-content-container">
                <h1>Our Story</h1>
                <p>We help business Articulate Return on IT investment</p>
                <button class="btn"><a th:href="@{/showform}">Employee Register</a></button>
            </div>
        </div>
    </div>
    <!-- About us section -->
    
</body>

</html>